@import "zmienne";

@import "mixins";



.yellow {
	color: $orange-color;
}

body {

	font-family: $main-font;
//	background-color: $main-color;
	background-image: url(../img/background.png);
	background-position: center;
	background-size: cover;
	height: 150vh;
	background-repeat: no-repeat;
	
}

p, h2 {

	color: white;
}